<% var h = ctx.h %>
<div class="event">
  <abbr class="timeago" title="<%=subEvent.when%>"><%=subEvent.when%></abbr>, 
  <% if (subEvent.what == 'created') {%>
    <%=subEvent.who%> created a new mixtape called
    <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=h(subEvent.mixtape.theme)%></a>.
  <% } %>
  <% if (subEvent.what == 'contribution') {%>
    <%=subEvent.who%> contibuted the song <%=h(subEvent.to.title)%> by <%=h(subEvent.to.artist)%> to
    <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=h(subEvent.mixtape.theme)%></a>
    <% if (subEvent.to.comments){ %>
      because <em>&quot;<%=h(subEvent.to.comments)%>&quot;</em>
    <% } %>
    .
  <% } %>
  <% if (subEvent.what == 'closed') {%>
    <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=h(subEvent.mixtape.theme)%></a> reached 10 songs and was closed!
  <% } %>
  <% if (subEvent.what == 'mp3ok') {%>
    the <em>&quot;<%=h(subEvent.to.title)%>&quot;</em> mp3 on <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=h(subEvent.mixtape.theme)%></a> was verified
  <% } %>
</div>
  
