<div>
  At <%=subEvent.when%>, <%=subEvent.who%>
  <% if (subEvent.what == 'created'){%>
    created a new mixtape called
    <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=subEvent.mixtape.theme%></a>.
  <% }else{ %>
    contibuted the song <%=subEvent.to.title%> by <%=subEvent.to.artist%> to
    <a href="#/mixtapes/<%=subEvent.mixtape._id%>"><%=subEvent.mixtape.theme%></a>
    <% if (subEvent.to.comments){ %>
    because <em>&quot;<%=subEvent.to.comments %>&quot;</em>
    <% } %>
    .
  <% } %>
</div>
  
