<% var h = ctx.h %>
<h1 class="theme"><%=h(mixtape.theme) %> <span id="by">by</span> <span id="user"><%=h(mixtape.user)%></span></h1>

<div id="contributions" class="full">
  <% if (!mixtape.contributions.length){ %>
    No contributions yet. We'll update the page if someone adds a song.
  <% } %>
  <ol>
    <% $.each(mixtape.contributions, function(index, contribution){ %>
      <li class="contribution">
        <strong class="song"><%=h(contribution.title) + " by " + h(contribution.artist)%></strong>
        <span class="<%=contribution.status%>"><%=contribution.status == 'found' ? 'found!' : 'looking for mp3..'%></span>
        <span class="quote">
          <% if (contribution.comments){ %>
          <em>&quot;<%=h(contribution.comments)%>&quot;</em>
          <% } %>
          &mdash; <%=h(contribution.user)%>
        </span>
      </li>
    <% }) %>
  </ol>
</div>

<button id="play-mixtape">Play mixtape (more plays == more popular)</button>
<% if (!mixtape.closed){ %>
<a class="button" href="#/mixtapes/<%=mixtape._id%>/contributions/new">Suggest a song</a>
<% }else{ %>
<span class="closed_message">This has reached 10 songs and is now closed!</span>
<% } %>
